@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
p {
  font-weight: normal;
}
#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#spinner {
  animation: rotate 0.56s infinite linear;
  width: 50px;
  height: 50px;
  border: 12px solid #f27a62;
  border-bottom: 12px solid #fff;
  border-radius: 50%;
  margin: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 92vw;
  padding: 4vh 4vw;
  position: fixed;
  font-weight: bold;
  background-color: white;
  opacity: 0.8;
  transition: 0.4s ease-in-out;
  z-index: 2;
}

header table {
  width: 100%;
}
#logo {
  width: 20%;
}
#navigation {
  width: 80%;
}
#magnify {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 4;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#magnify h1 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 40px;
  color: black;
  transition: 0.4s ease-in-out;
}
#magnify h1:hover {
  color: #f27a62;
  cursor: pointer;
}
#img_here {
  width: 90%;
  height: 90%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin: 0px auto;
}
#logo {
  font-size: 24px;
  color: #f27a62;
}
#navigation {
  text-align: right;
  color: black;
}
#navigation a {
  color: inherit;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  margin-left: 2vw;
  transition: 0.4s ease-in-out;
}
#navigation a:hover {
  border-bottom: 2px solid rgb(255, 44, 90);
}
#top_part {
  width: 100%;
  /*border: 2vh solid #fff;*/
}
/*#top_part tr td {
  width: 50%;
}*/

#about {
  /*width: 84% !important;*/
  width: 101% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  /*padding: 0px 8%;*/
}

#about h1 {
  font-size: 48px;
  word-wrap: break-word;
  margin-bottom: 0;
  padding-left: 8%;
}

#about h2 {
  font-size: 28px;
  font-weight: normal;
  word-wrap: break-word;
  margin-top: 0;
  padding-left: 8%;
}
#git-button {
  padding-left: 8%;
}
#road {
  background: url("images/road.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 23vh;
  margin-top: 8%;
}
#commuters {
  background: url("images/commuters.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 23vh;
  margin-top: 8%;
}
#about table {
  width: 70%;
  margin-top: 4vh;
}
#about table tr td {
  width: 20% !important;
  text-align: left;
}
.social {
  color: rgb(255, 44, 90);
  font-size: 23px;
  padding: 12px 17px;
  border-radius: 50%;
  background: transparent;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  margin: 0px 8px;
}
.social:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(255, 44, 90);
  box-shadow: 0px 10px 30px rgba(255, 66, 107, 0.8);
}
.btn_one {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #f27a62;
  background: #fff;
  border: 3px solid #f27a62;
  padding: 8px 40px;
  width: 35%;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 0px;
  transition: 0.4s ease-in-out;
}
.btn_one:hover {
  box-shadow: 0px 10px 30px rgb(242, 122, 98, 0.8);
  cursor: pointer;
  color: #fff;
  background: #f27a62;
}
#rightImage {
  width: 60%;
  height: 95vh;
  background: url("images/aboutImage.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#background-overview {
  /*background: url("images/road-left3.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0.3% 100%;*/
  background: url("images/jeep.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -17% 25px;
}

#bg-content {
  padding: 0vh 4vw 0vh 30vw;
  text-align: justify;
  font-size: 14px;
}
#bg-content h2 {
  text-align: center;
}
#bg-content p {
  margin: 0;
  padding: 1em 0px;
}

#ref {
  text-align: center;
}

.flex-container {
  display: flex;
  margin: 6vh 4vw 0vh;
}

#pso {
  background: url("images/commuters.png") center center #f27a62;
  background-size: 50%;
  background-position: 88% 500%;
  background-repeat: no-repeat;
  color: white;
  padding: 6vh 4vw 0vh;
  margin: 0;
  text-align: justify;
}

#problem-objectives {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 0px 2em;
}
#solution-container {
  padding: 0px 2em;
  margin-left: 2em;
}

#objectives-container {
  padding-bottom: 6vh;
}

ul {
  padding-left: 0px;
}

#rq {
  flex-direction: column;
  text-align: center;
}

span {
  color: #2192b6;
}

#overview #question {
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}
#background-data {
  background: url("images/psa.png");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 106% 60px;
}
#data-collection {
  flex-direction: column;
  padding-top: 0;
  width: 60%;
  text-align: justify;
}
#data-collection h2 {
  text-align: center;
}

#about-data {
  flex-direction: column;
  text-align: justify;
}

#about-data span {
  font-weight: bold;
}
#steps {
  background-color: #f27a62;
  padding: 6vh 4vw;
  color: white;
}

#step-title {
  font-size: 42px;
}

#step-description {
  font-weight: normal;
  text-align: justify;
}

#columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#column {
  padding: 1em;
  width: 190px;
  background-color: #fff599;
  border-radius: 20px;
}

/*#data {
  width: 92vw;
  padding: 6vh 4vw;
  font-weight: bold;
}
#data h1 {
  padding: 5px 0px;
  border-bottom: 4px solid rgb(255, 44, 90);
}*/
#data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin: 0px 50px;
}
#data-collection-btn,
#EDA-btn,
#dataset-btn {
  width: 100%;
}

#data-btns {
  justify-content: center;
  padding: 0vh 4vw;
  margin-top: 0;
}

#eda {
  flex-direction: column;
  text-align: justify;
}

#data-visualization {
  display: flex;
  align-items: center;
  background-color: #f27a62;
  border-radius: 20px;
  padding: 2em;
  color: white;
}

#data-visualization h3 {
  font-size: 42px;
  width: 65%;
  margin-right: 25px;
  border-right: solid 4px;
  width: 800px;
}

#visualization-plots {
  margin: 6vh 4vw 0vh;
  display: grid;
  grid-auto-flow: column;
  row-gap: 24px;
  column-gap: 50px;
  justify-items: center;
  padding: 0px 50px;
  align-items: center;
}
#visualization-plots img {
  width: 650px;
}

#hypothesis-testing {
  margin: 6vh 4vw 0vh;
  display: grid;
  grid-auto-flow: column;
  row-gap: 24px;
  column-gap: 50px;
  justify-items: center;
  padding: 0px 50px;
  align-items: center;
}

#data-methods #rq-ht {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
#photos {
  width: 120%;
  columns: 3;
  column-gap: 4%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
#photos img {
  width: 100%;
  height: auto;
  margin: 4.5% 0px;
  transition: 0.4s ease-in-out;
}
#photos img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#overview,
#data-methods,
#modelling,
#conclusion,
#team {
  /*width: 92vw;*/
  width: 100vw;
  /*padding: 6vh 0vw;*/
  font-weight: bold;
}
#methods h1 {
  padding: 5px 0px;
  border-bottom: 4px solid rgb(255, 44, 90);
}
#overview h1,
#data-methods h1,
#modelling h1,
#conclusion h1,
#team h1 {
  margin: 6vh 4vw;
  padding: 5px 0px;
  color: #f27a62;
  border-bottom: 4px solid #f27a62;
}

#overview h2,
#data-methods h2,
#data-methods h3,
#modelling h3 {
  padding: 5px 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#overview p,
#data-methods p {
  font-weight: normal;
}

#overview ul,
#data-methods ol {
  font-weight: normal;
}

#overview #hypothesis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 2em;
  padding: 0px 2em;
  background-color: #fff599;
  border-radius: 20px;
  justify-content: space-between;
}

#data-methods #hypothesis {
  margin: 0.5em 0em;
  padding: 1em 2em;
  background-color: #fff599;
  border-radius: 20px;
  font-weight: normal;
  text-align: left;
}
#data-methods #hypothesis span {
  font-weight: bold;
  color: black;
}

#data-methods #test-result {
  font-size: 18px;
  text-align: justify;
}

#test-result span {
  font-weight: bold;
  color: #f27a62;
}

#test-conclu {
  font-size: 24px;
  margin: 6vh 15vw;
  text-align: center;
}

#overview #hypothesis p {
  text-align: right;
}
#overview #hypotheses {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  text-align: left;
  font-weight: normal;
}

.card-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-flow: column;
  row-gap: 24px;
  column-gap: 24px;
  justify-items: center;
  margin: 6vh 4vw 0vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 30px;
  border-radius: 20px;
  background: #fff599;
  font-weight: normal;
}
#member1 {
  margin: 0;
  background: url("images/diego.png");
  background-size: 30vh;
  background-repeat: no-repeat;
  text-align: left;
  background-position: 100%;
  width: 90%;
  margin-bottom: 1em;
  padding: 0 1em;
}
#member2 {
  margin: 0;
  background: url("images/jas.png");
  background-size: 35vh;
  background-repeat: no-repeat;
  text-align: left;
  background-position: 110%;
  width: 90%;
  margin-bottom: 1em;
  padding: 0 1em;
}

#member3 {
  margin: 0;
  background: url("images/jeanne.png");
  background-size: 35vh;
  background-repeat: no-repeat;
  text-align: left;
  background-position: 90% 25%;
  width: 90%;
  margin-bottom: 1em;
  padding: 0 1em;
}

#name {
  font-size: 24px;
  width: 100px;
}
.procedure-header {
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
}

.procedure {
  /* border: 2px solid rgb(255, 44, 90);
  border-radius: 20px; */
  padding-bottom: 34px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-content {
  font-weight: normal;
}

#data-methods #rq-plot {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
  color: #2192b6;
  padding-bottom: 1em;
  border-bottom: 4px solid;
  border-color: #2192b6;
  font-size: 24px;
}

#data-methods #plot-description {
  text-align: justify;
}
.plots {
  width: 100%;
}

.plots:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#goals {
  font-weight: normal;
  flex-direction: column;
}

#goal {
  display: flex;
  align-items: center;
  background-color: #fff599;
  border-radius: 20px;
  padding: 2em;
}

#goal h3 {
  font-size: 32px;
  margin: 0;
  border-right: solid 4px;
  width: 400px;
}
ol {
  margin: 0;
}

#svr {
  padding: 6vh 4vw;
  text-align: center;
}

#svr p {
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
#features {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  margin-right: 3em;
  width: 70%;
}
#features p {
  font-weight: bold;
  font-size: 32px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#ml-output {
  text-align: justify;
  flex-direction: row;
  background-color: #f27a62;
  margin: 0;
  padding: 8vh 4vw;
  color: white;
}

#ml-explanation {
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 1700px;
}
#rq-ml {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-right: 3em;
  font-size: 32px;
  font-weight: bold;
}

#modelling #rq-plot {
  text-align: justify;
  font-weight: bold;
  font-size: 24px;
}

#insights {
  flex-direction: column;
  font-weight: normal;
  text-align: center;
}

#insight {
  margin: 4vh 4vw 0vh;
  padding: 1em 2em;
  background-color: #fff599;
  border-radius: 20px;
}

#insight span {
  color: black;
}

#implications {
  text-align: justify;
  flex-direction: column;
  background-color: #f27a62;
  color: white;
  margin: 0;
  padding: 4vh 4vw;
}

#future {
  text-align: justify;
  flex-direction: column;
}

.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.card img {
  width: 50%;
}
#team table {
  width: 100%;
}
#team table tr td {
  width: 50%;
}
#inner_div table {
  width: 100%;
}
#inner_div table tr td {
  font-weight: bold;
}
#inner_table tr td {
  padding: 10px 20px !important;
}
#team form {
  width: 100%;
}
#team form input {
  width: 96%;
  margin: 20px 1%;
  background: transparent;
  border: 0px;
  border-bottom: 3px solid rgba(255, 44, 90, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  color: #000;
  font-weight: bold;
}
#team form textarea {
  width: 96%;
  margin: 20px 1%;
  padding: 8px 10px;
  border: 0px;
  border-bottom: 3px solid rgba(255, 44, 90, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: transparent;
  resize: none;
  transition: 0.4s ease-in-out;
  color: #000;
  font-weight: bold;
}
#team form input:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 44, 90, 1);
}
#team form textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 44, 90, 1);
}
#address {
  position: relative;
  top: -25px;
  left: 30px;
}
#footer {
  width: 100%;
  padding: 10vh 0px;
  text-align: center;
  font-weight: bold;
}
#footer a {
  color: rgb(255, 44, 90);
  text-decoration: none;
}
::placeholder {
  color: #000;
}
button:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1000px) {
  #photos {
    columns: 1;
    column-gap: 0%;
  }
  #photos img {
    margin: 2% 0px;
  }
  #photos img:hover {
    transform: scale(1);
    cursor: pointer;
  }
  #rightImage {
    display: none;
  }
  #top_part {
    border: 0px;
  }
  #top_part tr td {
    width: 100%;
    text-align: center;
  }
  #about {
    width: 92% !important;
    height: 75vh;
    padding-top: 20vh !important;
    text-align: center;
    padding: 0px 4%;
  }
  #about table {
    width: 100%;
    margin-top: 6vh;
  }
  #about table tr td {
    text-align: center;
  }
  .btn_one {
    padding: 6px 30px;
    width: 60%;
    margin: 4vh auto;
    box-shadow: 0px 10px 20px rgba(255, 44, 90, 0.8);
    background: rgb(255, 44, 90);
    color: #fff;
  }
  .btn_one:hover {
    box-shadow: 0px 10px 40px rgba(255, 44, 90, 0.8);
    cursor: pointer;
  }
  #team table tr td {
    width: 100%;
    display: block;
  }
  #inner_table tr td {
    padding: 10px 0px !important;
  }
  #team form input {
    width: 90%;
  }
  #team form textarea {
    width: 90%;
  }
  header {
    width: 96vw;
    background: #fff;
    padding: 4vh 2vw;
    position: absolute;
  }
  #header table tr td {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0px;
  }
  #navigation a {
    color: #000;
  }
}
